<!-- reset-password.component.html -->
<div class="container-custom">
  <div class="background"></div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="resetPassword()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" [disabled]="true" required>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="newPassword" name="newPassword" required>
          <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()"  [title]=" showPassword ? 'Hide Password' : 'Show Password'">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="errors?.password">{{errors?.password}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input  matInput type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="confirmPassword" name="password_confirmation" required>
          <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()" [title]=" showPassword ? 'Hide Password' : 'Show Password'" >
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="errors?.password_confirmation">{{errors?.password_confirmation}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit">Reset Password</button>
        <p *ngIf="successMessage" class="success-message text-center">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="error-message text-center">{{ errorMessage }}</p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
