<!-- header -->
<div class="header">
  <div class="menu-toggle-btn"> <!-- Menu close button for mobile devices -->
      <a href="#">
          <i class="bi bi-list"></i>
      </a>
  </div>
  <!-- Logo -->
  <a href="index.html" class="logo">
      <img width="100" src="./assets/images/logo.svg" alt="logo">
  </a>
  <!-- ./ Logo -->
  <div class="page-title">Dashboard</div>
  <div class="header-bar ms-auto">
      <ul class="navbar-nav justify-content-end">
          <!-- <li class="nav-item">
              <a href="#" class="nav-link nav-link-notify" data-count="2" data-sidebar-target="#notifications">
                  <i class="bi bi-bell icon-lg"></i>
              </a>
          </li> -->
      </ul>
  </div>
  <!-- Header mobile buttons -->
  <div class="header-mobile-buttons">
      <a href="#" class="search-bar-btn">
          <i class="bi bi-search"></i>
      </a>
      <a href="#" class="actions-btn">
          <i class="bi bi-three-dots"></i>
      </a>
  </div>
  <!-- ./ Header mobile buttons -->
</div>
<!-- ./ header -->
