<!-- change-password.component.html -->
<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-6">
      <h1>Account</h1>
    </div>
    <div class="col-md-6"></div>
  </div>

  <form (submit)="update()" #changePasswordForm="ngForm">
    <div class="card">
      <div class="card-header">
        <h2>Change Password</h2>
      </div>

      <div class="card-body">
        <div class="">
          <!-- Current Password -->
          <div class="col-md-6 col-sm-12 mx-auto">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label for="">Current Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" name="current_password" ngModel required>
              <mat-icon matSuffix (click)="showPassword = !showPassword" [matTooltip]="showPassword ? 'Hide Password' : 'Show Password'">
                {{ showPassword ? 'visibility_off' : 'visibility' }}
              </mat-icon>
              <mat-error *ngIf="errors?.current_password">{{errors?.current_password}}</mat-error>
            </mat-form-field>
          </div>
          <!-- New Password -->
          <div class="col-md-6 col-sm-12 mx-auto">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label for="">New Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" name="password" ngModel required>
              <mat-icon matSuffix (click)="showPassword = !showPassword" [matTooltip]="showPassword ? 'Hide Password' : 'Show Password'">
                {{ showPassword ? 'visibility_off' : 'visibility' }}
              </mat-icon>
              <mat-error *ngIf="errors?.password">{{errors?.password}}</mat-error>

            </mat-form-field>
          </div>
          <!-- Confirm Password -->
          <div class="col-md-6 col-sm-12 mx-auto">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label for="">Confirm Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" name="password_confirmation" ngModel required>
              <mat-icon matSuffix (click)="showPassword = !showPassword" [matTooltip]="showPassword ? 'Hide Password' : 'Show Password'">
                {{ showPassword ? 'visibility_off' : 'visibility' }}
              </mat-icon>
              <mat-error *ngIf="errors?.password_confirmation">{{errors?.password_confirmation}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12">
           <!-- Display success message -->
          <p *ngIf="successMessage" class="success-message text-center">{{ successMessage }}</p>

          <!-- Display error message -->
          <p *ngIf="errorMessage" class="error-message text-center ">{{ errorMessage }}</p>

        </div>
      </div>


      <div class="card-footer">
        <div class="col-md-12">
          <button mat-flat-button color="primary" class="float-end" [disabled]="requesting || !changePasswordForm.valid" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
